{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% block content %}
<div>
<div style="
      background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
      background-size: cover;
      height: 800px;
    ">
    <div style="
        width: 50%;
        height: 538px;
        margin: 0 auto;
        padding: 200px 0px 0px 0px;
      "
    >
    <form style="font-family: auto;">
      
      <div class="form-row">
          <div class="col-md-6 input-group  date " id="datetimepicker1" data-target-input="nearest">
            <label style="padding: 0 0 0 0;" class="col-md-12">Date de retrait</label>
            <input type="text" class="col-md-8 form-control datetimepicker-input " data-target="#datetimepicker1"/>
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
          <div class="col-md-6 input-group  date " id="datetimepicker2" data-target-input="nearest">
            <label style="padding: 0 0 0 0;" class="col-md-12">Date de retour</label>
            <input type="text" class="col-md-8 form-control datetimepicker-input " data-target="#datetimepicker2"/>
            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
      </div>
    </form>
    
  <form  action='Vehicule' method='GET' style="padding: 12px 81px 0 0;" >
        {% csrf_token %} {{form|bootstrap}}
        <button type="submit" style="background-color: #e6ee00;
        border: none;
        border-radius: 10px;
        width: 141px;
        height: 36px;
        font-weight: bold;
        padding: 0px 0px 0px 2px;
        margin: 0 0 0 0px;">Comparez</button>
    </form>
    </div>

  <div style="margin: 50px 0px 0px 0px; padding-top: 50px; background-color: white;">
    <h3 style="text-align: center;">Offre de location de voiture</h3>
    <div style="margin-left: 23em;" class="col-md-6">
      <nav  class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link active" href="#">Top destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">En France</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dans le monde</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dernières recherches</a>
        </li>
      </nav>
    </div>
    <div class="card-group" style="margin-top: 15px; padding: 0 0 50px 0px;">
    {% for location in locations %}
    <div class="col-md-2" style="margin-bottom: 10px;">
      <div class="card bg-dark text-white">
        <img class="card-img-top " 
        src={{ location.image }}
        alt="Card image cap"
        style="width: 100%;height: 250px;object-fit: cover;">
          <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.5); height: 30px; padding-top:0px; margin-top: 217px;">
            <div class="row">
              <div class="col-md-8">{{ location.marque }} </div>
              <div class="col-md-4" style="padding-top: 2px; text-align: center; font-weight: bold; height: 30px; background-color: yellow; color:black">{{ location.prix }}$</div>
            </div>
          </div>
      </div>
    </div>
    {% empty %}
      <p>Aucune offre.</p>
    {% endfor %}
  </div>
    <h3 style="text-align: center; padding: 0 0 15px 0px; ">Agences de location de voiture</h3>
    <div class="card-group">
    {% for agence in agences %}
    <div class="col-md-2" style="margin-bottom: 10px;">
      <div class="card bg-dark text-white">
        <img class="card-img-top " src={{ agence.image }} alt="Card image cap">
          <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.5); height: 30px; padding-top:0px; margin-top: 80px;">
            {{ agence.nom }}
          </div>
      </div>
    </div>
    {% empty %}
      <p>Aucune agence.</p>
    {% endfor %}
  </div>
</div>
  </div>
  
    {% endblock %}