{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div style="
background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
background-size: cover;
height: 800px;
">
    <div
      style="
        width: 50%;
        height: 538px;
        margin: 0 auto;
        padding: 188px 0px 0px 0px;
      "
    >
    <form style="font-family: auto;">
      <div class="form-row">

    </form>
    {% load bootstrap %}
    <form method="post" >
      {% csrf_token %} {{form|bootstrap}}
      <button type="submit" style="background-color: #e6ee00;
      border: none;
      border-radius: 10px;
      width: 141px;
      height: 36px;
      font-weight: bold;
      padding: 0px 0px 0px 2px;">Login</button>
    </form>
    </div>
  </div>
    {% endblock %}