{% extends 'base.html' %}

{% block content %}
<div style="
background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
background-size: cover;
height: 800px;
">
    <div
      style="
        width: 50%;
        height: 538px;
        margin: 0 auto;
        padding: 188px 0px 0px 0px;
      "
    >
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color:#343a40">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button style="background-color: #e6ee00; border: none;"  type="submit">Sign up</button>
  </form>
</div>
</div>
{% endblock %}