{% extends "base.html" %}
{% block content %}
      <h1 style="color: #343a40;
      font-family: 'Raleway',sans-serif;
      font-size: 31px;
      font-weight: 800;
      line-height: 72px;
      margin: 70px 0 115px;
      text-align: center;
      text-transform: uppercase;
      width: 50%;
    margin: auto;
    padding: 52px 0px 50px 0;">Près de 200 agences de location de voitures en France. Présent dans plus de 105 pays dans le monde.</h1>
    <div class="row" style="margin: auto;">
      {% for Agence in Agences %}
      <div class="col-md-4" style="margin-bottom: 10px;">
        <div class="card bg-dark text-white">
          <img class="card-img-top " 
          src={{ Agence.image }}
          alt="Card image cap"
          style="width: 100%;height: 250px;object-fit: cover;">
            <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.5); height: 30px; padding-top:0px; margin-top: 217px;">
              <div class="row">
                <div class="col-md-8">{{ Agence.nom }} </div>
                <div class="col-md-4" style="padding-top: 2px; text-align: center; font-weight: bold; height: 30px; background-color: yellow; color:black">{{ Agence.adresse }}</div>
              </div>
            </div>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
    
{% endblock %}
